@use 'sass:map';

html {
	background-color: var(--background-color);
	color: var(--text-color);
	font-size: map.get($text-size, 'normal');
	line-height: $line-height;
	font-weight: map.get($text-weight, 'normal');
	font-family: $text-font;
}