@use 'sass:map';

a {
	color: var(--link);
	text-decoration: underline dotted 1px var(--link-color);
	// text-decoration-thickness: 1px;
	// text-decoration-color: $link;
}

a:hover {
	text-decoration: underline;
	color: var(--link-hover-color);
}

a:visited {
	color: var(--link-visited-color);
}

p a {
	color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--heading-color);
	font-weight: map.get($text-weight, 'heading');
	line-height: 1;
	margin: map.get($space, 'medium') 0;
}

@each $heading-level in 1 2 3 4 5 6 {
	h#{$heading-level} {
		font-size: map.get($text-size, 'h#{$heading-level}');
	}
}

p {
	line-height: $line-height;
	margin-bottom: map.get($space, 'normal');
}

p.--no-space {
	margin-bottom: 0;
}

section {
	margin: map.get($space, 'x-large') 0;
}
