@use 'sass:map';

pre {
	margin-block: var(--space-normal);
	overflow-x: scroll;
}

@media screen and (min-width: var(--breakpoint-large)) {
	figure {
		padding: 0;
		margin: 0;
		width: 100%;

		img,
		table {
			margin: 0;
			padding: 0;
			width: 100%;
		}
	}
}

pre,
code {
	background-color: var(--code-background);
	color: var(--code-color);
}

code {
	padding: 0 var(--space-small);
}

pre {
	padding: var(--space-small);
	> code {
		background-color: unset;
		color: unset;
		padding: 0;
	}
}
