@font-face {
	font-family: 'Inter var';
	font-weight: 100 900;
	font-display: swap;
	font-style: normal;
	font-named-instance: 'Regular';
	src: url('assets/fonts/inter/Inter-roman.var.woff2') format('woff2');
	font-feature-settings: 'ss01', 'frac';
}
@font-face {
	font-family: 'Inter var';
	font-weight: 100 900;
	font-display: swap;
	font-style: italic;
	font-named-instance: 'Italic';
	src: url('assets/fonts/inter/Inter-italic.var.woff2') format('woff2');
	font-feature-settings: 'ss01', 'frac';
}

@font-face {
	font-family: 'Fira Code var';
	src: url('assets/fonts/fira-code/FiraCode-VF.woff2') format('woff2-variations');
	/* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
	font-weight: 300 700;
	font-style: normal;
}
