@use 'sass:color';
@use 'sass:map';
@use 'sass:math';

/*********************************/
/* Breakpoints                   */
/*********************************/

$breakpoint: (
	'small': 400px,
	'medium': 600px,
	'large': 800px,
);

/*********************************/
/* Color definitions             */
/*********************************/

$colors: (
	'light': hsl(49, 47%, 91%),
	'dark': hsl(60, 4%, 12%),
);

$shades: (
	'light': 0%,
	'mid': 40%,
	'dark': 90%,
	'darker': 100%,
);

$mix-colors: (
	'white': hsl(0, 100%, 100%),
	'red': hsl(0, 100%, 70%),
	'orange': hsl(28, 100%, 70%),
	'yellow': hsl(60, 100%, 70%),
	'green': hsl(120, 100%, 70%),
	'cyan': hsl(180, 100%, 70%),
	'blue': hsl(240, 100%, 70%),
	'purple': hsl(270, 100%, 70%),
	'magenta': hsl(300, 100%, 70%),
);

@each $name, $value in $mix-colors {
	$red1: math.div(color.channel(map.get($colors, 'light'), 'red', $space: rgb), 255);
	$green1: math.div(color.channel(map.get($colors, 'light'), 'green', $space: rgb), 255);
	$blue1: math.div(color.channel(map.get($colors, 'light'), 'blue', $space: rgb), 255);

	$red2: math.div(color.channel($value, 'red', $space: rgb), 255);
	$green2: math.div(color.channel($value, 'green', $space: rgb), 255);
	$blue2: math.div(color.channel($value, 'blue', $space: rgb), 255);

	$red: math.round(($red1 * $red2) * 255);
	$green: math.round(($green1 * $green2) * 255);
	$blue: math.round(($blue1 * $blue2) * 255);

	$mix-colors: map.set($mix-colors, $name, rgb($red, $green, $blue));
}

@each $name, $value in $mix-colors {
	$color-tones: ();

	@each $shade-name, $shade-value in $shades {
		$mixed-color: color.mix(map.get($colors, 'dark'), $value, $shade-value);

		$color-tones: map.set($color-tones, $shade-name, $mixed-color);
	}

	$colors: map.set($colors, $name, $color-tones);
}

/*********************************/
/* Spacing                       */
/*********************************/

$space: (
	'1px': 1px,
	'2px': 2px,
	'4px': 4px,
	'x-small': 0.25rem,
	'small': 0.5rem,
	'normal': 1rem,
	'medium': 1.5rem,
	'large': 2rem,
	'x-large': 4rem,
	'xx-large': 6rem,
);

/*********************************/
/* Text styles                   */
/*********************************/

$font-weight: (
	'thin': 100,
	'extra-light': 200,
	'light': 300,
	'normal': 400,
	'medium': 500,
	'semi-bold': 600,
	'bold': 700,
	'extra-bold': 800,
	'black': 900,
	'text': 400,
	'heading': 800,
);

$font-size: (
	'small': 0.8em,
	'normal': 1rem,
	'large': 1.15em,
	'h6': 1rem,
	'h5': 1.15rem,
	'h4': 1.323rem,
	'h3': 1.521rem,
	'h2': 1.749rem,
	'h1': 2.011rem,
);

$font-family:
	'Inter var',
	system-ui,
	-apple-system,
	BlinkMacSystemFont,
	'Segoe UI',
	Roboto,
	Oxygen,
	Ubuntu,
	Cantarell,
	'Open Sans',
	'Helvetica Neue',
	sans-serif;

/*********************************/
/* Font choices                  */
/*********************************/
