@use 'sass:map';

@media screen and (prefers-color-scheme: dark) {
	:root {
		--text-color: #{map.get($colors, 'light', '50')};

		--background-color: #{map.get($colors, 'dark', '50')};

		--main--background: #{map.get($colors, 'light', '55')};

		--heading-color: #{map.get($colors, 'blue', '60')};
		--hover-opacity: 0.7;

		--link-color: #{map.get($colors, 'blue', '65')};
		--link-color--hover: #{map.get($colors, 'blue', '80')};
		--link-color--visited: #{map.get($colors, 'blue', '65 ')};

		--card-background: #{map.get($colors, 'blue', '10')};
		--card-color: #{map.get($colors, 'blue', '80')};
		--card--emphasis-background: #{map.get($colors, 'blue', '60')};
		--card--emphasis-color: #{map.get($colors, 'blue', '00')};
		--card__title--separator-color: var(--background-color);

		--tag-background: #{map.get($colors, 'blue', '10')};
		--tag-color: #{map.get($colors, 'blue', '80')};
		--tag--emphasis-background: #{map.get($colors, 'blue', '60')};
		--tag--emphasis-color: #{map.get($colors, 'blue', '00')};

		--icon-color: #{map.get($colors, 'blue', '65')};
	}
}
