@use 'sass:map';
@use 'sass:color';
@use 'sass:meta';

@use '../abstracts/variables';

:root {
	@each $name, $value in variables.$colors {
		@each $shade-name, $shade-value in $value {
			@if meta.type-of($shade-value) == color {
				--color-#{$name}-#{$shade-name}: #{$shade-value};
			}
		}
	}

	--color-light: var(--color-white-light);
	--color-light--alt: var(--color-white-mid);
	--color-dark: var(--color-white-darker);
	--color-dark--alt: var(--color-white-dark);

	--line-height: 1.35;
}
