@use 'sass:map';
@use 'sass:color';

@use '../abstracts/variables';

:root {
	@each $name, $value in variables.$colors {
		@each $shade-name, $shade-value in $value {
			--color-#{$name}-#{$shade-name}: #{$shade-value};
		}
	}

	--color-light: var(--color-neutral-light);
	--color-light--alt: var(--color-neutral-mid);
	--color-dark: var(--color-neutral-darker);
	--color-dark--alt: var(--color-neutral-dark);

	--line-height: 1.35;
}
