@use 'sass:map';

:root {
	--primary: var(--gold-50);
	--primary-light: var(--gold-60);
	--primary-lighter: var(--gold-70);
	--primary-dark: var(--gold-40);
	--primary-darker: var(--gold-30);

	--secondary: var(--teal-50);
	--secondary-light: var(--teal-60);
	--secondary-lighter: var(--teal-70);
	--secondary-dark: var(--teal-40);
	--secondary-darker: var(--teal-30);

	--text-color: var(--dark-60);
	--text-color--accent: var(--dark-70);

	--background-color: var(--light-50);
	--background-color--accent: var(--light-40);
	--background-color--accent--dark: var(--light-35);

	--shadow-color: var(--grey-50);

	--heading-color: var(--primary);
	--hover-opacity: 0.7;

	--link-color: var(--secondary-dark);
	--link-color--hover: var(--secondary-dark);
	--link-color--visited: var(--secondary-darker);

	--list-group--separator--color: var(--background-color--accent);
	--list-group--separator: 2px solid var(--list-group--separator--color);

	--card--background-color: var(--background-color--accent);
	--card__title--background-color: transparent;

	--tag-background: var(--background-color--accent);

	--icon-color: var(--text-color--accent);
}
