@use 'sass:map';

.grid,
.grid > .full-width {
	display: grid;
	grid-template-columns:
		[full-width-start]
		minmax(1rem, 1fr)
		[super-left-start]
		0
		[super-start]
		minmax(0, 10ch)
		[super-right-start]
		0
		[content-start]
		min(100% - (1rem * 2), 70ch)
		[content-end]
		0
		[super-left-end]
		minmax(0, 10ch)
		[super-end]
		0
		[super-right-end]
		minmax(1rem, 1fr)
		[full-width-end];

	> * {
		grid-column: content;
		grid-template-columns: subgrid;
	}

	> .super {
		grid-column: super;
	}

	> .super-left {
		grid-column: super-left;
	}

	> .super-right {
		grid-column: super-right;
	}

	> .full-width {
		grid-column: full-width;
	}
}
