$content-width: 80ch;
$super-width: 120ch;
$padding: 1rem;

$super-overhang: calc(($super-width - $content-width) / 2);

.grid {
	align-items: start;

	display: grid;
	grid-template-columns:
		[full-width-start]
		minmax($padding, 1fr)
		[super-start]
		minmax(0, $super-overhang)
		[content-start]
		min(100% - ($padding * 2), $content-width)
		[content-end]
		minmax(0, $super-overhang)
		[super-end]
		minmax($padding, 1fr)
		[full-width-end];

	&--left {
		grid-template-columns:
			[full-width-start]
			minmax($padding, 1fr)
			[super-start]
			0
			[content-start]
			min(100% - ($padding * 2), $content-width)
			[content-end]
			minmax(0, $super-overhang)
			[super-end]
			minmax($padding, 1fr)
			[full-width-end];
	}

	&--right {
		grid-template-columns:
			[full-width-start]
			minmax($padding, 1fr)
			[super-start]
			minmax(0, $super-overhang)
			[content-start]
			min(100% - ($padding * 2), $content-width)
			[content-end]
			0
			[super-end]
			minmax($padding, 1fr)
			[full-width-end];
	}

	> :not(.super, .full-width) {
		grid-column: content;
	}

	> .super {
		grid-column: super;
	}

	> .full-width {
		grid-column: full-width;
	}
}
