@use 'sass:map';

.grid {
	display: grid;
	grid-template-columns:
		[full-width-start]
		minmax(map.get($space, 'normal'), 1fr)
		[super-left-start]
		0
		[super-start]
		minmax(0, map.get($grid, 'enwiden'))
		[super-right-start]
		0
		[content-start]
		min(100% - (map.get($space, 'normal') * 2), map.get($grid, 'callout'))
		[content-end]
		0
		[super-left-end]
		minmax(0, map.get($grid, 'enwiden'))
		[super-end]
		0
		[super-right-end]
		minmax(map.get($space, 'normal'), 1fr)
		[full-width-end];
}

.grid > *,
.full-width > * {
	grid-column: content;
}

.grid > .super {
	grid-column: super;
}

.grid > .super-left {
	grid-column: super-left;
}

.grid > .super-right {
	grid-column: super-right;
}

.grid > .full-width {
	grid-column: full-width;
}

img.full-width {
	width: 100%;
	max-height: 45vh;
	object-fit: cover;
}

.grid section {
	display: grid;
	grid-template-columns: subgrid;
}
