@use 'sass:map';
@use '../abstracts/variables';

nav {
	padding: 1rem 2rem;

	ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		width: fit-content;
		flex: 0 0 auto;
		font-size: 1.15rem;
	}

	li {
		display: none;

		&::before {
			all: unset;
		}

		&:first-child a {
			margin: 0;
			padding: 0;
		}

		a:not(.logo),
		a:visited:not(.logo) {
			border: 0.125rem solid transparent;
			text-decoration: none;
			color: var(--nav-color, var(--color-light));
			display: flex;
			align-items: center;
			padding: 0.25rem 0.5rem;
			font-weight: 600;

			&.--active {
				background-color: var(--nav-active-color, var(--color-light));
				color: var(--nav-active-text-color, var(--color-dark));
			}

			&:hover {
				border-color: var(--nav-text-color, var(--color-light--alt));
				background-color: var(--nav-active-color, var(--color-dark));
				color: var(--nav-text-color, var(--color-light));
			}
		}
	}

	li:first-child {
		display: block;
		font-size: 1.749rem;
		margin: 0;
		padding: 0;
	}

	&.nav--expanded li {
		display: block;
		margin-block-end: 0.25rem;
	}

	button {
		border: none;
		background-color: transparent;
		display: block;
		width: 100%;
		font-size: 1.5rem;
		color: var(--color-light);
		cursor: pointer;
		padding: 0.5rem 1rem;

		&:hover {
			opacity: var(--hover-opacity);
		}
	}
}

@media screen and (min-width: map.get(variables.$breakpoint, 'large')) {
	nav,
	nav.nav--expanded {
		padding: 0;
		margin-block: 1rem;

		ul {
			display: flex;
			gap: 1rem;
			flex-direction: row;
			align-items: baseline;
			justify-items: stretch;
			margin: 1rem 0;

			li {
				width: auto;
				display: block;
				margin: 0;
				text-align: center;

				a {
					display: inline-block;
					flex-direction: column;
					margin: unset;
					padding: 0.25rem 0.5rem;
				}
			}
		}

		button {
			display: none;
		}
	}
}
