@use 'sass:map';
@use '../abstracts/variables';

nav {
	padding-block: map.get(variables.$space, 'medium');
	display: flex;
	width: min-content;
	margin: auto;

	ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		width: fit-content;
		flex: 0 0 auto;
		font-size: 1.15rem;
		gap: map.get(variables.$space, 'small');
		margin-bottom: map.get(variables.$space, 'small');
	}

	li {
		display: none;
		margin: 0 !important;

		&::before {
			all: unset;
		}

		&:first-child a {
			margin: 0;
			padding: 0;
		}

		a:not(.logo),
		a:visited:not(.logo) {
			border: 0.125rem solid transparent;
			text-decoration: none;
			color: var(--nav-color, var(--color-light));
			display: flex;
			flex-direction: row;
			gap: 0.25rem;
			align-items: center;
			padding: 0.25rem 0.5rem;
			font-weight: 600;
			background-color: var(--nav-item-background-color, var(--color-dark--alt));

			&.--active {
				background-color: var(--nav-active-color, var(--color-light));
				color: var(--nav-active-text-color, var(--color-dark--alt));
			}

			&:hover {
				border-color: var(--nav-text-color, var(--color-light--alt));
				background-color: var(--nav-active-color, var(--color-light--alt));
				color: var(--nav-text-color, var(--color-dark));

				.icon {
					color: var(--nav-text-color, var(--color-dark--alt));
				}
			}

			.icon {
				display: block;
				margin-inline-start: 0;
				margin-inline-end: map.get(variables.$space, 'x-small');
			}
		}
	}

	li:first-child {
		display: block;
		font-size: 1.749rem;
		margin: 0;
		padding: 0;
	}

	&.nav--expanded {
		li {
			display: block;
		}
	}

	button {
		border: none;
		background-color: var(--nav-button-background-color, var(--nav-item-background-color, var(--color-dark--alt)));
		display: block;
		width: 100%;
		font-size: 1.35rem;
		color: var(--color-light);
		cursor: pointer;
		padding: 0.5rem 1rem;

		&:hover {
			opacity: var(--hover-opacity);
		}
	}
}

@media screen and (min-width: map.get(variables.$breakpoint, 'large')) {
	nav,
	nav.nav--expanded {
		padding: 0;
		margin-block: 1rem;

		ul {
			display: flex;
			gap: 1rem;
			flex-direction: row;
			align-items: center;
			justify-items: stretch;
			margin: 1rem 0;

			li {
				width: auto;
				display: block;
				margin: 0;
				text-align: center;
				margin-block: 0 !important;

				a:not(.logo),
				a:visited:not(.logo) {
					flex-direction: column;
					margin: unset;
					padding: 0.25rem 0.5rem;
					width: 10ch;
				}
			}
		}

		button {
			display: none !important;
		}
	}
}
