$nav_background-color: $foreground !default;
$nav_foreground-color: $background !default;
$nav_logo_background-color: $background !default;
$nav_hover-background: $skyblue !default;
$nav_hover-color: $navy !default;

nav {
	background-color: $nav_background-color;
	display: grid;
	grid-template-columns: [nav-start] auto [nav-end] 1fr;
	place-items: start;
	padding: 1rem;
	gap: 0.5rem;
	color: $nav_foreground-color !important;
	container: sitenav / inline-size;

	> * {
		grid-column: nav;
	}

	ul {
		display: none;
		list-style: none;
		width: 100%;

		li {
			a {
				color: $nav_foreground-color;
				text-decoration: none;
				display: block;
				padding: 0.25rem;
				font-size: 1.25rem;
				line-height: 1em;

				&.--active {
					font-weight: bold;
				}

				&:visited {
					color: $nav_foreground-color;
				}

				&:hover {
					background-color: $nav_hover-background;
					color: $nav_hover-color;
				}
			}
		}
	}

	> .logo {
		display: block;
		width: auto;
		background-color: $nav_logo_background-color;
		line-height: 1em;
		font-size: 2rem;

		> a {
			display: block;
			text-decoration: none;
			padding: 0.25em;
			color: $nav_background-color;

			&:hover {
				background-color: $nav_hover-color;
				color: $nav_hover-background;
			}
		}
	}

	button {
		display: block;
		background-color: transparent;
		border: none;
		color: $nav_foreground-color;
		font-size: 1.25rem;
		font-weight: normal;
	}

	&.nav--expanded {
		ul {
			display: block;
		}
	}
}

@media screen and (min-width: 80ch) {
	nav {
		align-items: baseline;
		display: grid;
		grid-template-columns: [logo-start] auto [logo-end nav-start] auto [nav-end] 1fr;

		> .logo {
			grid-column: logo;
		}

		> ul {
			grid-column: nav;
			display: flex;
			gap: 0.25rem;
		}

		button {
			display: none !important;
		}
	}
}
