@use 'sass:map';

nav {
	padding: map.get($space, 'normal') map.get($space, 'large');
	font-size: map.get($text-size, 'large');

	ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		width: fit-content;
		flex: 0 0 auto;
	}

	li {
		display: none;

		a,
		a:visited {
			text-decoration: none;
			color: var(--text-color);
			display: block;
			padding: map.get($space, 'x-small') 0;
		}

		a:hover {
			text-decoration: none;
			opacity: var(--hover-opacity);
			color: currentColor;
		}

		a.--active {
			font-weight: bold;
		}
	}

	li:first-child {
		display: block;
		font-size: map.get($text-size, 'h2');
		margin: 0;
		padding: 0;

		a,
		a:visited {
			text-decoration: none;
			color: var(--heading-color);
			display: block;
			padding: 0;
		}

		a:hover {
			opacity: var(--hover-opacity);
		}
	}

	li:nth-child(2) {
		margin-top: map.get($space, 'small');
	}

	&.nav--expanded li {
		display: block;
	}

	button {
		border: none;
		background-color: transparent;
		display: block;
		width: 100%;
		font-size: var(--text-lg);
		color: var(--text);
		cursor: pointer;
		padding: map.get($space, 'small');

		&:hover {
			opacity: var(--hover-opacity);
		}
	}
}

@media screen and (min-width: map.get($breakpoint, 'large')) {
	nav,
	nav.nav--expanded {
		padding: 0;

		ul {
			display: flex;
			flex-direction: row;
			align-items: baseline;
			justify-items: stretch;

			li {
				width: auto;
			}
		}

		li:nth-child(n) {
			display: block;
			margin: 0;
			padding: map.get($space, 'normal');
			text-align: center;
		}

		li:nth-child(-n + 3) {
			order: 1;
		}

		li:first-child {
			order: 2;
		}

		li:nth-last-child(-n + 2) {
			order: 3;
		}

		button {
			display: none;
		}
	}
}
