.timeline {
    list-style: none;
    display: flex;
    flex-flow: column;
    gap: 2rem;
}

.timeline li {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 3;
    grid-template-areas: 'icon content';
    gap: 0.5rem;
}

.timeline .icon {
    background-color: var(--gold);
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.25rem;
    display: grid;
    place-items: center;
    border-radius: 100%;
    color: var(--background);
}