@use 'sass:map';
@use 'sass:color';

@use '../abstracts/variables';

button,
.button {
	--button-border-radius: #{map.get(variables.$space, 'small')};
	--button-press: 0;
	--button-depth: #{map.get(variables.$space, 'small')};

	&,
	&:visited {
		appearance: none;
		border: none;
		background-color: var(--button-background-color, var(--color-primary));
		color: var(--button-text-color, var(--color-dark));
		padding: map.get(variables.$space, 'small') map.get(variables.$space, 'normal');
		border-radius: map.get(variables.$space, 'small');
		text-decoration: none;
		text-transform: capitalize;
		font-weight: bold;
		font-size: 1.1rem;
		width: 20ch;
		text-align: center;
		position: relative;
		display: grid;
		justify-content: stretch;
		grid-template-columns: 1fr auto;
		top: calc(var(--button-press) * var(--button-depth));
	}

	&::after {
		content: '';
		inset: 0px;
		bottom: calc(-1 * var(--button-depth));
		top: calc(var(--button-press) * var(--button-depth));
		display: block;
		position: absolute;
		border-radius: inherit;
		background-color: var(--button-background-color, var(--color-primary));
		background-image: linear-gradient(90deg, hsla(0, 0, 50%, 50%), hsla(0, 0, 85%, 50%) var(--button-border-radius) calc(100% - var(--button-border-radius)), hsl(0, 0, 85%));
		background-blend-mode: multiply;
		z-index: -1;
		box-shadow: 0 calc((1 - var(--button-press)) * var(--button-depth) * 1.25) 0 grey;
	}

	&:hover {
		--button-press: 0.5;
	}

	&:active {
		--button-press: 1;
	}

	> .icon {
		display: inline-block;
	}
}
