.card {
	border: 2.5rem solid blue;
	background-image: url('/public/panel-background.svg');
	border-image: url('/public/panel.svg') 14;
	border-image-width: 3rem;
	border-image-repeat: repeat;
	min-height: 4rem;
	background-position: center center;
	background-size: 1rem;
	color: #b3ff80;
}
