@use 'sass:map';
@use '../abstracts/variables';

.card {
	color: var(--card-text-color, var(--color-light));
	gap: map.get(variables.$space, 'x-small');
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: var(--card-background-color, var(--color-dark--alt));
	text-decoration: none;

	&[href] {
		text-align: center;
	}

	&[href]:hover {
		color: var(--card-text-color--hover, var(--color-dark));
		background-color: var(--card-background-color--hover, var(--color-light));

		.card__icon {
			color: var(--card-icon-color--hover, var(--color-dark--alt));
		}
	}

	> .card__title {
		padding: map.get(variables.$space, 'small');
		background-color: var(--card-title-background-color, var(--color-light--alt));
		color: var(--card-title-color, var(--color-dark));
	}

	> :not(.card__title) {
		padding: map.get(variables.$space, 'small');
		padding-block-start: 0;
	}

	&:has(.card__icon--overlay) {
		min-height: map.get(variables.$space, 'x-large');
		place-items: middle;
		overflow: hidden;
		display: grid;
		align-content: center;

		> * {
			z-index: 1;
		}
	}

	> .card__icon {
		font-size: map.get(variables.$space, 'x-large');
		text-align: center;
		color: var(--card-icon-color, var(--color-light--alt));
		padding: 0;
	}

	> .card__icon--overlay {
		font-size: map.get(variables.$space, 'x-large');
		color: var(--color-light--alt);
		position: absolute;
		right: 0;
		top: 45%;
		transform-origin: center center;
		transform: translate(-0%, -50%);
	}
}
