@use 'sass:map';

.header {
	text-align: center;
	color: var(--heading-color);
	margin-block-end: var(--space-large);
}

.header:has(.header__image) {
	margin: unset;
	padding: var(--space-large);
}

.header .header__title {
	margin: 0 !important;
	color: var(--heading-color);
}
