@use 'sass:map';

.list-group {
	.list-group__item {
		margin-inline: -1 * map.get($space, 'normal');
		padding-inline: map.get($space, 'normal');
		padding-block: map.get($space, 'normal');
		overflow: hidden;

		&:not(:last-child) {
			border-bottom: var(--list-group--separator);
		}
	}

	.list-group__section:not(:last-child) {
		margin-bottom: map.get($space, 'small');
	}
}
