@use 'sass:map';

.list-group {
	.list-group__item {

        margin-block: map.get($space, 'large');

		&.has-image {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-areas: 'image' 'content';
			place-items: center stretch;
		}

		.list-group__item__image {
			display: block;
			grid-area: image;
			img {
				display: block;
                width: calc(100% + 2 * map.get($space, 'normal'));
                margin: 0 -1 * map.get($space, 'normal');
                object-fit: cover;
			}
		}

		margin-inline: -1 * map.get($space, 'normal');
		padding-inline: map.get($space, 'normal');
		padding-block: map.get($space, 'normal');
		overflow: hidden;

		&:not(:last-child) {
			border-bottom: var(--list-group--separator);
		}
	}

	.list-group__section:not(:last-child) {
		margin-bottom: map.get($space, 'small');
	}
}

@media screen and (min-width: map.get($breakpoint, 'medium')) {
    .list-group {
        .list-group__item {
            &.has-image {
			    gap: map.get($space, 'normal');
				grid-template-areas: 'image content';
                grid-template-columns: auto 1fr;
            }

            .list-group__item__image {
                height: 12rem;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    overflow: hidden;
                    margin: 0;
                }
            }

			&:nth-of-type(even) {
				grid-template-areas: 'content image';
				grid-template-columns: 1fr auto;
			}
        }
    }
}