@use 'sass:map';
@use '../abstracts/variables';

.tags {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	margin-block: map.get(variables.$space, 'medium');
}

.tag,
.tag--emphasis {
	display: flex;
	align-items: center;
	gap: map.get(variables.$space, 'x-small');
	background: var(--tag-background, var(--color-light--alt));
	font-size: 1em;
	color: var(--tag-text-color, var(--color-dark));
	line-height: 1;
	padding: map.get(variables.$space, 'small');

	> .icon {
		display: grid;
		color: var(--tag-icon-color, var(--color-dark--alt));
		margin: unset;
		align-items: center;
		justify-content: center;
	}
}
