$tag_background-color: $tan !default;
$tag_foreground-color: $camogreen !default;
$tag_icon_background-color: $camogreen !default;
$tag_icon_foreground-color: $tan !default;

.tag {
	display: inline-block;
	background-color: $tag_background-color;
	color: $tag_foreground-color;
	padding: 0.25rem 0.5rem;
	margin: 0.25rem;

	> .icon {
		position: relative;
		left: -0.25rem;
		display: inline-block;
		background-color: $tag_icon_background-color;
		color: $tag_icon_foreground-color;
		margin: -0.25rem;
		padding: 0.25rem;
	}
}
