@use 'sass:map';

.tags {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.tag {
	border-image-source: url('/public/tag.svg');
	border-image-slice: 0 14 fill;
	border-image-width: 0rem 3rem;
	border-image-repeat: repeat;
	display: flex;
	align-items: center;
	border-width: 0 2rem;
	border-color: blue;
	border-style: solid;
	gap: 0.5ch;
}
