<<<<<<< HEAD
$a_foreground-color: $magenta !default;
$a--hover_foreground-color: $magenta !default;
$a--active_foreground-color: $red !default;

a {
	text-decoration: underline;
	text-decoration-color: currentColor;

	> .link__icon {
		display: inline-block;
		width: 1.5rem;
		height: 1rem;
		text-align: center;
	}

	&:hover,
	&:visited {
		color: $a--hover_foreground-color;
	}

	&:active {
		color: $a--active_foreground-color;
	}
=======
a {
	color: currentColor;
	text-decoration: underline solid 1px currentColor;
	// text-decoration-thickness: 1px;
	// text-decoration-color: $link;
}

a:hover {
	opacity: var(--link-hover-opacity);
	text-decoration-thickness: 2px;
}

a:visited {
	color: var(--link-color--visited);
>>>>>>> main
}
