@use 'sass:map';
@use '../abstracts/variables';

h2 {
	font-size: 1.479rem;
	margin-block: map.get(variables.$space, 'normal');
	background-color: var(--h2-background-color, var(--color-light));
	color: var(--h2-text-color, var(--color-dark));
	font-family: 'Fira Code var', 'Courier New', Courier, monospace;
	letter-spacing: 0.125rem;
	word-spacing: -1 * map.get(variables.$space, 'x-small');
	display: grid;
	grid-template-columns: [heading-number-start] auto [heading-number-end heading-text-start] 1fr [heading-text-end] !important;
	justify-content: start;
	align-items: center;
	gap: map.get(variables.$space, 'small');

	> a {
		display: block;
		text-decoration: none;
		grid-column: heading-text;
	}

	&::before {
		grid-column: heading-number;
		display: grid;
		align-items: center;
		justify-items: center;
		counter-increment: section;
		content: counter(section, decimal-leading-zero);
		font-variant-numeric: tabular-nums;
		color: var(--h2-pre-color, var(--color-dark));
		font-weight: bold;
		margin-inline-end: 0;
		font-size: 0.75em;
		background-color: var(--color-light--alt);
		padding: map.get(variables.$space, 'x-small');
		width: 2rem;
		min-height: 2rem;
		height: calc(100% - map.get(variables.$space, 'x-small') * 2);
		text-align: center;
	}
}
