h2 {
	font-size: 1.479rem;
	margin-block: 1rem;
	background-color: var(--h2-background-color, var(--color-light));
	color: var(--h2-text-color, var(--color-dark));
	font-family: 'Fira Code var', 'Courier New', Courier, monospace;
	padding: 0.25rem;

	> a {
		text-decoration: none;
	}

	&::before {
		display: inline-block;
		counter-increment: section;
		content: counter(section, decimal-leading-zero);
		font-variant-numeric: tabular-nums;
		color: var(--h2-pre-color, var(--color-light--alt));
		height: 100%;
		font-weight: bold;
		padding-inline-end: 0.25rem;
	}
}
