ol {
	list-style: decimal-leading-zero;
	list-style-position: outside;
	margin-block: 1rem;
	margin-inline-start: 3rem;

	li {
		&::marker {
			font-variant-numeric: tabular-nums;
			font-weight: bold;
			color: var(--ol-counter-color, var(--color-light--alt));
		}
	}

	&:last-child {
		margin-block-end: 0;
	}
}
