.page-home {
	min-height: 100lvh;
	display: grid;
	grid-template-rows: auto 1fr;
	overflow: hidden;

	section {
		margin: 0;
	}

	.content {
		display: grid;
		align-content: center;
		gap: 4rem;
	}

	#profile-image {
		border-radius: 50%;
		width: 60%;
		margin: 0 auto;
		display: block;
	}

	#section-1 {
		margin-block-start: 0;
	}

	#text-content {
		display: grid;
		gap: 2rem;
	}
}
